{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block css_file %}contact.css{% endblock %}
{% block page_google_font %}Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i{% endblock %}
{% block content %}
    <section class="skrollable u-clearfix u-image u-parallax u-shading u-section-1" id="sec-9c9a" data-image-width="1280" data-image-height="1114">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-top u-container-layout-1">
                  <h2 class="u-custom-font u-font-playfair-display u-text u-text-black u-text-1">Enter text here.</h2>
                  <div class="u-border-6 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"></div>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <p class="u-text u-text-black u-text-2">Enter text here.<br>Enter text here.<br>
                    <br>Play&nbsp;<a href="/play" data-page-id="451507664" class="u-active-none u-border-2 u-border-active-palette-2-dark-1 u-border-hover-palette-2-base u-border-palette-1-base u-btn u-button-link u-button-style u-hover-none u-none u-text-hover-palette-2-base u-text-palette-1-base u-btn-1">Here</a>.<br>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
