{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block css_file %}home.css{% endblock %}
{% block page_google_font %}Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i{% endblock %}
{% block content %}
    <section class="skrollable u-clearfix u-image u-parallax u-shading u-section-1" id="sec-ae8e" data-image-width="1280" data-image-height="853">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-align-center u-container-style u-custom-color-3 u-layout-cell u-left-cell u-shape-rectangle u-size-30 u-size-xs-60 u-layout-cell-1" src="">
                <div class="u-container-layout u-valign-middle u-container-layout-1"><span class="u-border-2 u-border-custom-color-1 u-icon u-icon-circle u-spacing-10 u-text-custom-color-1 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 52 52" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-220f"></use></svg><svg class="u-svg-content" viewBox="0 0 52 52" x="0px" y="0px" id="svg-220f" style="enable-background:new 0 0 52 52;"><path style="fill:currentColor;" d="M38.853,5.324L38.853,5.324c-7.098-7.098-18.607-7.098-25.706,0h0
	C6.751,11.72,6.031,23.763,11.459,31L26,52l14.541-21C45.969,23.763,45.249,11.72,38.853,5.324z M26.177,24c-3.314,0-6-2.686-6-6
	s2.686-6,6-6s6,2.686,6,6S29.491,24,26.177,24z"></path></svg>


              </span>
                  <h2 class="u-custom-font u-font-montserrat u-text u-text-1">Enter text here.</h2>
                  <p class="u-text u-text-2">Enter text here.</p>
                  <a href="/contact" data-page-id="1314930703" class="u-active-none u-border-2 u-border-custom-color-1 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-1">learn more</a>
                </div>
              </div>
              <div class="u-align-center u-container-style u-hidden-xs u-image u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="700" data-image-height="834">
                <div class="u-container-layout u-valign-middle u-container-layout-2" src=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
