{% extends "base.html" %}
{% from "_util.html" import render_field %}
{% block title %}Login{% endblock %}
{% block css_file %}login.css{% endblock %}
{% block page_google_font %}Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i{% endblock %}
{% block content %}
    <section class="u-align-center u-clearfix u-custom-color-3 u-section-1" id="carousel_39d5">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-1">Enter text here.</h1>
        <h3 class="u-custom-font u-font-lato u-text u-text-body-alt-color u-text-2">Enter text here.</h3>
        <div class="u-form u-form-1">
          <form action="" method="POST" class="u-clearfix u-form-custom-backend u-form-spacing-17 u-form-vertical u-inner-form" style="padding: 10px" source="custom" name="form" redirect="true">
            {{ form.hidden_tag() }}
            <div class="u-form-group u-form-name u-form-group-1">
              {{ render_field(form.username) }}
            </div>
            <div class="u-form-group u-form-group-2">
              {{ render_field(form.password) }}
            </div>
            <div class="u-align-left u-form-group u-form-submit">
              <a href="#" class="u-active-grey-80 u-black u-border-2 u-border-active-grey-80 u-border-black u-border-hover-grey-80 u-btn u-btn-round u-btn-submit u-button-style u-hover-grey-80 u-radius-50 u-btn-1">Login<br>
              </a>
              <input type="submit" value="submit" class="u-form-control-hidden" wfd-invisible="true">
            </div>
          </form>
        </div>
        <p class="u-text u-text-3">Don't have an account?&nbsp;<a href="/signup" data-page-id="148437781" class="u-active-none u-border-2 u-border-active-palette-2-dark-1 u-border-hover-palette-2-base u-border-palette-1-base u-btn u-button-link u-button-style u-hover-none u-none u-text-hover-palette-2-base u-text-palette-1-base u-btn-2">Sign Up</a>
        </p>
      </div>
    </section>
{% endblock %}
